<table>
    <thead>
        <tr>
            <th>id</th>
            <th>施設名</th>
            <th>施設詳細</th>
            <th>価格</th>
            <th>終日</th>
            <th>参照</th>
            <th>編集</th>
            <th>削除</th>
        </tr>
    </thead>

    <tbody>
        <% if flash[:notice] %>
            <p class="notice"><%= flash[:notice] %></p>
        <% end %>
        <% @rooms.each do |room| %>
            <tr>
                <td><%= room.id %></td>
                <td><%= room.name %></td>
                <td><%= room.intro %></td>
                <td><%= room.price %></td>
                <td><%= room.updated_at.to_s(:datetime_jp) %></td>
                <td>
                    <%= link_to "確認", room %>
                </td>
                <td>
                    <%= link_to "編集", [:edit, room] %>
                </td>
                <td>
                    <%= link_to "削除", room, method: :delete, data: { confirm:"本当に削除しますか？"} %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

<p><%= link_to "新規スケジュール", :new_room %></p>